* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body {
  color: hsl(0, 0%, 8%);
  height: 100vh;
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:hsl(0, 0%, 41%);
  display: block;
}

a:hover, a:focus {
  color:hsl(0, 0%, 8%)
}

ul li {
  list-style: none;
}

.wrapper {
  padding: 0 1em;
}

/* NAVIGATION */

header{
  height: 4em;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-company {
  width: 100px;
  object-fit: contain;
}

.menu {
  cursor: pointer;
  height: 20px;
}


.nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
    right: 0;
    top: 0;
  background-color: white;
  z-index: 10;
  height: 100vh;
  width: 50%;
  color: hsl(0, 0%, 41%);
  letter-spacing: 1.1;
  font-size: 1rem;
  padding: 2em 2em 0;
}

.nav-headers {
  margin-bottom: 1.5em;
}

.nav-items {
  margin-top: 0.5em;
  margin-left: 1em;
}

.icon-img {
  margin-right: 1em;
}

.exit {
  margin: 1em;
  width: 30px;
  height: 30px;
  position: absolute;
    top: 0;
    right: 0;
}


.feature-item, .company-item {
  display: none
}

.display {
  display: unset;
}

.visible {
  visibility: unset;
  opacity: 1;
  transition: all 0.25s;
}

.opacity {
  background-color: grey;
  opacity: 0.75;
}


/****** larger screens ***********/

@media (min-width: 1000px){
  .nav {
    visibility: unset;
    opacity: 1;
    position: initial;
    background-color: none;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .nav ul {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 2em;
  }

  .nav-user{
    margin-left: 15em;
  }

  .nav-headers {
    margin: 0;
    margin-right: 3em;
  }

  .menu, .exit {
    display:none;
  }

  .nav-items {
    margin: 0;
  }

}
/******end media query larger screens***********/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 2em;
}

.hero-image {
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  max-width: 600px;
}

.title-main-text {
  font-size: 3rem;
  letter-spacing: 2;
}

.description-main-text {
  color:hsl(0, 0%, 41%);
  line-height: 1.5;
  margin-top: 1em;
}

.button-learn {
  background-color: black;
  color: white;
  padding: 1em 1.5em;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 2em;
}

.clients-logos{
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
    width: 100%
  }

.client-logo {
  object-fit: contain;
  width: 4rem;
}

/******** larger screen *********/

@media (min-width: 1000px){
  body {
    height: 100vh;
    font-size: 20px;
  }

  main {
    flex-direction: row;
    gap: 2rem;
    padding: 0 2em;
    margin: 5em;
  }

  .main-text {
    order: 1;
  }

  .hero-image{
    order: 2;
    max-width: 800px;
  }

  .main-text {
    margin-top: 0;
    justify-content: space-around;
  }

  .dropdown-content ul, .dropdown-content-company ul {
    margin-top:1em;
    margin-left: 0.5em;
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
  }

  .nav ul {
    gap: 1em;
    align-items: flex-start;
  }
}
